.chatWindow {
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 100px; /* room for input */
  height: calc(100vh - 425px); /* fits screen excluding header and input */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
